<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'glicko/style.css' %}">
<html>
  <head>
    <meta charset="utf-8">
    <title>The People's Ranking</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>The People's Ranking</h1>
    </header>

    <p>Currently only works with Glicko-2 and Challonge.</p>

    <p><b>HOW TO USE:</b> Please paste some <b>Challonge</b> brackets, separated by newline characters (return/enter).</p>

    <p>Here is a Pastebin containing some links you can try to test it out: <a href = "https://pastebin.com/iSLtfaje">https://pastebin.com/iSLtfaje</p>
      
    <form action="results" method="post">
      {% csrf_token %}
      <!-- <div>
        <label for="name">Username:</label>
        <input type="text" id="name" name="user_name">
      </div>
      <div>
        <label for="apikey">API-key:</label>
        <input type="password" id="apikey" name="user_apikey">
      </div> -->
      <div>
        <label for="ratingsystem">Rating System:</label>
        <select id="simple" name="simple">
          <option>Glicko-2</option>
          <!-- <option>ELO</option>
          <option>TrueSkill</option> -->
        </select>
      </div>
      <!-- TODO: change width and height of form box using css: http://www.tagindex.net/css/form/width_height.html -->
      <div>
        <label for="bracket-urls">Bracket URLs:</label>
        <textarea id="bracket-urls" name="user_bracket-urls"></textarea>
      </div>
      <div class="button">
        <button type="submit">Get rankings!</button>
      </div>
    </form>

    <!-- (

    Option select between:

    - glicko
    - ELO
    - TrueSkill

    ) -->

    <footer>
      <p>©Copyright 2050 by bliutwo. All rights reversed.</p>
    </footer>

  </body>
</html>